@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: whitesmoke;
  overflow: hidden;
}

body {
  overflow-x: scroll;
}

.container {
  width: 100%;
}

.wrap {
  margin: auto;
  width: 80%;
}

/* Header Section Start */

.logo {
  margin-top: 20px;
  margin-bottom: 20px;
  letter-spacing: 2px;
}

/* Header Section End */

/* Content Section Start */

#video {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

#video video {
  min-height: 100%;
  width: 100%;
  object-fit: cover;
}

.content {
  margin-top: 10%;
}

.content h1 {
  font-size: 3em;
  word-spacing: 5px;
}

.content h3 {
  font-size: 2em;
}

.content p {
  font-size: 20px;
}

.btn {
  display: inline-block;
  margin-top: 2%;
  color: rgb(138, 129, 113);
  background: white;
  font-size: 20px;
  border: none;
  padding: 10px;
  text-decoration: none;
}

.btn:hover {
  color: black;
  transition: 0.5s ease-in;
}

/* Content Section End */

/* Footer Section Start */

#footer {
  position: absolute;
  width: 50%;
  height: 40px;
  margin-top: 10%;
}

footer li {
  float: left;
  list-style: none;
}

footer li a {
  padding-right: 45px;
}

footer li a img:hover {
  width: 38px;
  transition: 0.3s ease-out;
}

footer li a img {
  width: 35px;
}

/* Footer Section End */
